<div class="row">
	<h1 class="col-xs-12 text-center" class=" text-center">My Events</h1>
	<div class="col-xs-6">
		<form role="form ">
			<div class="form-group center-block">
				<div class="col-sm-12" >
					<p >
						Event Title
					</p>
					<input  class="form-control "  placeholder="Firebase @ HTN" type="text"
					ng-model="event.name" ng-required="true" >
				</div>
				<div class="col-sm-12">
					<p >
						Beacon ID
					</p>
					<input  class="form-control "  placeholder="55555" type="text"
					ng-model="event.beaconId" ng-required="true" >
				</div >
				<div class="col-sm-12">
					<p >
						Company Pitch
					</p>
					<textarea class="form-control "  placeholder="We are an awesome company and we offer free lunchs and massages" type="text" style="height: 100px;"
					ng-model="event.description" ng-required="true"></textarea>
				</div>
				<div class="col-sm-12" ng-hide="">
					Start Time
					<input  class=" form-control"  type="text"
					ng-model="event.start"  placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2013-12-31T00:00:00" required>
				</div>
				<div class="col-sm-12" >
					End Time
					<input  class=" form-control"  type="text"
					ng-model="event.end"  placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2013-12-31T00:00:00" required>
				</div>
				<div class="col-sm-12 text-right" >
					<br />
					<button ng-show="options.saveEdit" ng-click = 'addBeaconItem()' type="button" class="btn btn-primary">
						Save Changes
					</button>
					<button ng-hide="options.saveEdit" ng-click = 'addNewEvent()' type="button" class="btn btn-primary">
						Save Event Details
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-xs-6">
		<h4>Beacon Database: </h4>
		<div>
			<div ng-repeat= "item in $storage.events  | orderBy: event.end">
				<a  href="" style="color: black; text-decoration: none;"  ng-click="showPreview = !showPreview"><span class="glyphicon glyphicon-chevron-down text-muted"></span> {{item.name}}</a>

				<div class="" ng-show='showPreview'>
					<div class="panel panel-default">
						<div class="panel-body">
							<p>
								ID: {{item.id}}
							</p>
							<p>
								Detail: {{item.description}}
							</p>
							<p>
								When: {{item.start}}  -  {{item.end}}
								<a   ng-click="setSelectedEvent(item)" ng-href="#!/preview"><span class="glyphicon glyphicon-eye-open pull-right text-muted"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
