<div ng-include="'partials/nav.html'"></div>
<section class="container-fluid uofs-section " id="dashboardPage" style="left: 0;">
	<div class="row text-left">
		<div ng-repeat="deal in $storage.deals" class="col-xs-12 text-left" ng-style="$storage.deals[$storage.deals.indexOf(deal)].name == $storage.selectedDeal && {'border':'1px solid #F50057','outline':'0'}" >
			<a href=""  ng-click="setDeal(deal.name)" style="text-decoration: none;color: black;width:100%;" > {{deal.name}}</a>
			<a style="position: absolute; left:20px; top:3px;" href="#/tickets" ng-show="$storage.allEvents[$storage.allEvents.indexOf(item)].eventName == $storage.eventName"><span class="fa fa-ticket text-muted"></span></a>
			<a style="position: absolute; right:20px; top:3px;" ng-href="#/newevent"   data-toggle="tooltip" title="Edit Event" ng-show="$storage.allEvents[$storage.allEvents.indexOf(item)].eventName == $storage.eventName"><span class="glyphicon glyphicon-edit text-muted"></span></a>
			<a style="position: absolute; right:20px; bottom:-3px;" href=""  data-toggle="modal" data-target="#confirmModal" ng-show="$storage.allEvents[$storage.allEvents.indexOf(item)].eventName == $storage.eventName"><span class="glyphicon glyphicon-remove text-muted"></span></a>
		</div>
		<!-- <div  class="col-lg-4 col-sm-4 col-xs-4 text-center" >
		<a  style="width:100%;" href="" class="btn btn-md" type="button" ng-href="#/newevent"   data-toggle="tooltip" title="Add new Event"><span class="glyphicon glyphicon-plus "></span> </a>
		</div> -->
	</div>
	<form role="form">
		<br />
		<div class="form-group center-block">
			<div class="col-sm-12" ng-hide="$storage.api.questions.productName.length>0">
				<p >
					Enter Product ID
				</p>
				<input  class="form-control "  placeholder="" type="number"
				ng-model="$storage.api.questions.productID" ng-required="true" autofocus="autofocus">
			</div >
			<div class="col-sm-12" ng-hide="$storage.api.questions.productID > 0">
				<p >
					Or search for product by name
				</p>
				<input  class="form-control "  placeholder="" type="text"
				ng-model="$storage.api.questions.productName" ng-required="true" autofocus="autofocus">
			</div>
		</div>
		<div class="form-group col-md-12  col-xs-12 text-right">
			<button ng-model="btnText" type="button"  ng-hide="$storage.api.questions.productID.length<1 || $storage.api.questions.productID == undefined"
			class="btn btn-primary "  href="" data-toggle="modal" data-target="#confirmModal" ng-click="getProductWithId($storage.api.questions.productID)">
				Add Product
			</button>
			<button ng-model="btnText" type="button"  ng-hide="$storage.api.questions.productName.length<1 || $storage.api.questions.productName == undefined"
			class="btn btn-primary " ng-click="searchProducts($storage.api.questions.productName);">
				Search products
			</button>
		</div>
		<p class="clearfix"></p>
	</form>
	<div class="panel" >
		<div class="panel-body">
			<div class="row">
				<div id="foodContainer" ng-repeat="product in $storage.api.responses.productNameAnswer.products" class="col-xs-6 col-md-4 text-center center-block"
				style="height:400px;">
					<a  href="" data-toggle="modal" data-target="#confirmModal" ng-click="getProductWithId(product.id)">
					<div class="row">
						<img class="img-responsive center-block text-center" src="{{product.image}}" width="50%"/>
						<p>
							{{product.title}}
						</p>
					</div> </a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="confirmModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;
					</button>
				</div>
				<div class="modal-body">

					<p class="text-capitalize text-center">
						{{$storage.productToMakeDeal.name}}
					</p>
					<p ng-show="$storage.productToMakeDeal.price > 0">
						{{$storage.productToMakeDeal.price/100 | currency}}
					</p>
					<img class="img-responsive center-block text-center" src="{{$storage.productToMakeDeal.image}}" />
					<p>
						Assigned to beacon <span class="text-uppercase text-bold"> {{$storage.selectedBeacon}}</span> ?
					</p>
					<button type="button" class="btn btn-primary btn-md" ng-click="addDealItem($storage.productToMakeDeal)" data-dismiss="modal" >
						Add
					</button>
					<button type="button" class="btn btn-primary btn-md pull-right" data-dismiss="modal">
						No.
					</button>
				</div>
			</div>
		</div>
	</div>
</section>